<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.librarymanagementsystem.mapper.IBorrowMapper">
    <select id="selectByBorrows" resultType="Borrow" parameterType="String">
        select *
        from borrow
        WHERE 1 = 1
        <if test="user_type =='用户'">
            and (SELECT `user`.id from `user` where `user`.user_name = #{user_name}) = borrow_use_id
        </if>
    </select>
</mapper>